<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home"><h4>Home</h4></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container py-5" *ngIf="image">
  <div class="card shadow-lg border-0 rounded-4 overflow-hidden detail-card">
    <!-- Imagen grande -->
    <div class="position-relative detail-image-wrapper">
      <img
        [src]="image.urls.full"
        [alt]="image.alt_description"
        class="w-100 h-100 object-fit-cover"
      />
      <!-- Contenedor de texto con overlay-info -->
      <div class="overlay-info text-white p-4">
        <p class="mb-0">
          Fotógrafo: <strong>{{ image.user?.name }}</strong>
        </p>
      </div>
    </div>

    <!-- Detalles -->
    <div class="card-body">
      <ul class="list-group list-group mb-4 rounded-3 overflow-hidden">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <strong>Descripcion:</strong
          >{{ image.alt_description || "Sin descripción" }}
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <strong>Likes:</strong> {{ image.likes }}
        </li>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <span><strong>Fecha:</strong></span>
          <span>
            {{ date }}
          </span>
        </li>
      </ul>
      <a
        [href]="image?.urls?.full"
        target="_blank"
        class="btn btn-primary w-100"
        >Ver imagen completa</a
      >
    </div>
  </div>
</div>
