<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home"><h4>Home</h4></a>
        </li>
      </ul>
      <form class="d-flex" role="search" (submit)="searchImages($event)">
        <input
          [(ngModel)]="search"
          name="search"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<section class="features py-5">
  <!-- Cambiar titulo dependiendo del modo de busqueda -->
  <h2 class="text-white text-center mb-4">
    {{ mode === "category" ? "Categoría: " + category : "Búsqueda: " + search }}
  </h2>
  <div class="container">
    <div class="row">
      <div *ngFor="let item of images" class="col-md-4 mb-4">
        <div class="card shadow">
          <img
            src="{{ item.urls.small }}"
            class="card-img-top"
            alt="Imagen coche 1"
            [routerLink]="['/detail', item.id]"
          />
        </div>
      </div>
    </div>
  </div>
</section>
