body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #0E0E11;
    color: white;
}

a {
    color: white !important;
    text-align: center;
}

/* carousel */
.carousel-item img {
    height: 60vh;
    object-fit: cover;
}

.navbar {
    background: linear-gradient(to right, #8353d5, #d45ad2, #ed397b);
}
