body {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background: linear-gradient(to right, #8353d5, #d45ad2, #ed397b);
}
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    .card.rounded-3.login {
        box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
      }

.btn-outline-secondary:hover{
    background: linear-gradient(to right, #8353d5, #d45ad2, #ed397b);
}
.btn-secondary {
    background: linear-gradient(to right, #8353d5, #d45ad2, #ed397b);
    border: none;
}
a {
    color: white !important;
    text-align: center;
}

.card {
    background: rgb(13, 16, 32);
    color: white;
}

input, textarea {
    background-color: #3c4262 !important;
    color: white; /* cambia esto si quieres otro color de texto */
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }