body {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: white;
    background-color: #0E0E11;
}
/*links*/
i, h2 {
    background: linear-gradient(to right, #8353d5, #d45ad2, #ed397b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    color: #8353d5 !important;
    text-decoration: none;
}
/*fondo de la lista*/
.list-container {
    background: rgb(13, 16, 32);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

/*cada fila de la lista*/
.list-group-item {
    background: rgb(13, 16, 32);
    border: black;
    background: rgb(13, 16, 32);
}

.list-group-item:hover {
    
    background: linear-gradient(to right, #48495c,#0E0E11);
    border-color: #800505 !important;
    color: white !important;
    border: black;
  }

.btn-secondary {
    background: linear-gradient(to right, #8353d5,#d45ad2, #ed397b);
    border: none;
    }

/* fondo de la tabla*/
.table.table-bordered,
.table.table-bordered td,
.table.table-bordered th {
    background: rgb(13, 16, 32);
    color: white;
}