<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&family=Staatliches&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <head>
      <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        rel="stylesheet"
      />
    </head>
    <link rel="stylesheet" href="../css/style.css" />
    <title>Tienda de productos</title>
  </head>
  <body>
    <main class="container-fluid">
      <div class="row">
        <!-- Navegacion-->
        <nav class="navbar navbar-expand-xl shadow-sm py-3">
          <div class="container">
            <!-- Botón Hamburguesa -->
            <button
              class="navbar-toggler"
              type="button"
              id="hamburguesa"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Logo o Home -->
            <a class="navbar-brand ms-2" href="./index.html">
              <i class="fas fa-house fa-lg"></i>
            </a>

            <!-- Contenido de la barra de navegación -->
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mx-auto align-items-center">
                <!-- Filtros de precio -->
                <li class="nav-item">
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      id="precio-bajo"
                    >
                      Precio más bajo
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      id="precio-alto"
                    >
                      Precio más alto
                    </button>
                  </div>
                </li>
                <li class="nav-item dropdown ms-5">
                  <select
                    class="form-select filtro"
                    name="Categoria"
                    id="Categoria"
                    value="Categoria"
                  >
                    <option value="0">Todas las categorias</option>
                  </select>
                </li>
                <li class="nav-item dropdown ms-5">
                  <select
                    class="form-select filtro"
                    name="Marca"
                    id="Marca"
                    value="Marca"
                  >
                    <option value="0">Todas las marcas</option>
                  </select>
                </li>
                <li class="nav-item">
                  <button class="btn btn-secondary btn-filtros">
                    Aplicar filtros
                  </button>
                </li>
              </ul>

              <!-- Buscador -->
              <form class="d-flex">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Buscar producto..."
                  aria-label="Buscar"
                  id="buscador"
                />
              </form>
            </div>
          </div>
        </nav>

        <!-- Productos-->
        <div class="col-8" id="productos">
          <!-- Aquí se mostrarán el numero de resultados -->
          <h5 id="mensaje-container" class="mb-3 mt-3"></h5>

          <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4"
            id="card-container"
          ></div>
          <!-- Donde entran las card -->
        </div>

        <!-- Carrito-->
        <div class="col col-carrito mt-1 h-100 overflow-auto">
          <h2>Carrito</h2>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <!-- Aquí los productos que se agregan al carrito -->
            </tbody>
          </table>
          <!-- Boton Comprar en carrito -->
          <button class="animated-button mt-4">
            <svg
              viewBox="0 0 24 24"
              class="arr-2"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path>
            </svg>
            <span class="text">Comprar</span>
            <span class="circle"></span>
            <svg
              viewBox="0 0 24 24"
              class="arr-1"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </main>
    <script src="../js/producto.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
